---
const {
    id,
    text,
    acceptText,
    infoText,
    infoUrl,
    withCheckbox,
} = Astro.props;

const idCheckbox = "checkbox-"+id;
const idAcceptBtn = "accept-"+id;
---

<div id={id} class="flex justify-center items-center bg-black text-gray-400 text-sm py-2">
    <p class="mx-2">{text}</p>
    { withCheckbox && <input id={idCheckbox} type="checkbox" class="" /> }
    <button type="button" id={idAcceptBtn} class="px-2 py-2 my-2 ml-2 transition-colors bg-teal-800 hover:bg-teal-500 text-white disabled:bg-teal-950 disabled:text-gray-400 rounded-md" disabled={withCheckbox}>{acceptText}</button>
    <a href={infoUrl} class="px-2 py-2 mx-2 transition-colors bg-gray-800 hover:bg-gray-500 text-white rounded-md">{infoText}</a>
</div>

<script is:inline define:vars={{idCheckbox, idAcceptBtn}}>
    const checkbox = document.getElementById(idCheckbox);
    const accept = document.getElementById(idAcceptBtn);

    checkbox.addEventListener("click", function () {
        if (checkbox.checked) {
            accept.disabled = false;
        } else {
            accept.disabled = true;
        }
    });
</script>
